<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.CMPUT301W14T13.gpscommentlogger"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />
	
    <!-- get access to GPS services -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
	
        android:theme="@style/AppBaseTheme" >
        
		<receiver android:name="com.CMPUT301W14T13.gpscommentlogger.NetworkReceiver" >
        	<intent-filter>
            	<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        	</intent-filter>
   		 </receiver>
       
        


        <activity

            android:name="com.CMPUT301W14T13.gpscommentlogger.view.HomeViewActivity"

            android:label="@string/app_name" >
            <intent-filter>
               <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.CMPUT301W14T13.gpscommentlogger.DebugActivity"
            android:label="@string/app_name" >
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity
            android:name="com.CMPUT301W14T13.gpscommentlogger.DebugActivityWithServer"
            android:label="@string/app_name" >
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity
            android:name="com.CMPUT301W14T13.gpscommentlogger.controller.CreateSubmissionActivity"
            android:label="@string/create_topic_label"
            android:parentActivityName="com.CMPUT301W14T13.gpscommentlogger.view.HomeViewActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CMPUT301W14T13.gpscommentlogger.view.HomeViewActivity" />
        </activity>
        
        <activity
            android:name="com.CMPUT301W14T13.gpscommentlogger.view.TopicViewActivity"
			android:parentActivityName="com.CMPUT301W14T13.gpscommentlogger.view.HomeViewActivity" >
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CMPUT301W14T13.gpscommentlogger.view.HomeViewActivity" />
        </activity>
        
        <activity
            android:name="com.CMPUT301W14T13.gpscommentlogger.view.CreateCommentActivity">
        </activity>
        
        <activity

            android:name="com.CMPUT301W14T13.gpscommentlogger.SelectUsernameActivity">
        </activity>

        <activity
            android:name="com.CMPUT301W14T13.gpscommentlogger.view.MapViewActivity"
            android:parentActivityName="com.CMPUT301W14T13.gpscommentlogger.view.CreateTopicActivity">
            
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.CMPUT301W14T13.gpscommentlogger.view.CreateSubmissionActivity" />
            
        </activity>
        
        <activity

            android:name="com.CMPUT301W14T13.gpscommentlogger.view.FavouritesViewActivity">
        </activity>

    </application>

</manifest>