<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmput301w14t13.project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <!-- get access to GPS services -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
 
        <receiver android:name="cmput301w14t13.project.services.NetworkReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cmput301w14t13.project.views.HomeView"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cmput301w14t13.project.views.submissions.CreateTopicSubmissionView"
            android:label="@string/create_topic_label"
            android:parentActivityName="cmput301w14t13.project.views.HomeView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmput301w14t13.project.views.HomeView" />
        </activity>
        <activity
            android:name="cmput301w14t13.project.views.submissions.EditTopicSubmissionView"
            android:label="@string/create_topic_label"
            android:parentActivityName="cmput301w14t13.project.views.HomeView" >
           
        </activity>
        <activity
            android:name="cmput301w14t13.project.views.submissions.EditCommentSubmissionView"
            android:label="@string/create_topic_label"
            android:parentActivityName="cmput301w14t13.project.views.HomeView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmput301w14t13.project.views.HomeView" />
        </activity>
        <activity
            android:name="cmput301w14t13.project.views.submissions.ReplyToCommentSubmissionView"
            android:label="@string/create_topic_label"
            android:parentActivityName="cmput301w14t13.project.views.HomeView" >
            
        </activity>
        <activity
            android:name="cmput301w14t13.project.views.submissions.ReplyToTopicSubmissionView"
            android:label="@string/create_topic_label"
            android:parentActivityName="cmput301w14t13.project.views.HomeView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmput301w14t13.project.views.HomeView" />
        </activity>
        <activity
            android:name="cmput301w14t13.project.views.TopicView"
            android:parentActivityName="cmput301w14t13.project.views.HomeView" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cmput301w14t13.project.views.HomeView" />
        </activity>
        <activity 
            android:name="cmput301w14t13.project.controllers.SelectUsernameController" >
        </activity>
        <activity
            android:name="cmput301w14t13.project.controllers.MapViewController">
        </activity>
        <activity
            android:name="cmput301w14t13.project.controllers.ImageAttachmentController">
        </activity>
        <activity 
            android:name="cmput301w14t13.project.views.FavouritesView" >
        </activity>
        <activity
            android:name="cmput301w14t13.project.FavouritesViewTemp"
            android:label="@string/title_activity_favourites_view_temp" >
        </activity>

        <activity
            android:name="cmput301w14t13.project.views.HelpView"
            android:label="@string/title_activity_help_view" >
        </activity>

        <service
		  android:name="DataStorageService"
		  android:process=":dss_process" 
		  >
		</service> 

    </application>

</manifest>